.follow-link-wrapper a.follow-link {
	color: #fff;
	width: 40px;
	height: 40px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	display: block;
}

a.follow-link-facebook {
  background-color: #3b5998;
}

a.follow-link-googleplus {
  background-color: #dd4b39;
}

a.follow-link-lastfm {
  background-color: #D01F3C;
}

a.follow-link-youtube {
  background-color: #bb0000;
}

a.follow-link-twitter {
  background-color: #00aced;
}

a.follow-link-flickr {
  background-color: #ff0084;
}

a.follow-link-vimeo {
  background-color: #45bbff;
}

a.follow-link-linkedin {
  background-color: #007bb5;
}

a.follow-link-delicious {
  background-color: #000;
}

a.follow-link-tumblr {
  background-color: #32506d;
}

a.follow-link-this-site {
  background-color: #f60;
}

a.follow-link-xing {
  background-color: #026466;
}


a.follow-link-newsletter {
  background-color: #666;
}

a.follow-link-github {
  background-color: #999;
}